Repository zesty-io/nextjs-website, changes with the labels that .github/labeler.yml gives for each.
All labels: repo, test, middleware, accounts, accounts-page, accounts-pages, marketplace-page, docs-page, marketplace, docs, cta, globals, hooks, lib, marketing, zustand, e2e, workflow, theme

task: make sure SWAL is on top of MUI dialogs
  public/styles/custom.css
  src/components/accounts/ui/dialogs/index.js
Labels: accounts

task: move error handling to components
  src/components/accounts/roles/CreateCustomRoleDialog.tsx
  src/components/accounts/roles/EditCustomRoleDialog/index.tsx
  src/components/globals/NoPermission.jsx
  src/pages/instances/[zuid]/roles.tsx
  src/store/roles.ts
Labels: accounts, accounts-page, globals

task: move error handling to components
  src/store/instance.ts
Labels: none

task: enable updating role base role
  src/components/accounts/roles/EditCustomRoleDialog/index.tsx
  src/components/accounts/roles/EditCustomRoleDialog/tabs/Details.tsx
  src/store/roles.ts
Labels: accounts

task: fix alignment and transform values to lowercase
  src/components/accounts/roles/EditCustomRoleDialog/tabs/Users.tsx
Labels: accounts

task: only allow users to create a new role based off of the instance's available base roles
  src/components/accounts/roles/CreateCustomRoleDialog.tsx
  src/components/accounts/roles/EditCustomRoleDialog/tabs/Details.tsx
Labels: accounts

task: wire user management flow
  src/components/accounts/roles/EditCustomRoleDialog/index.tsx
  src/store/roles.ts
Labels: accounts

fix: make sure opened menu is of the correct instance
  src/components/accounts/roles/CustomRoles.tsx
Labels: accounts

task: wire delete role
  src/components/accounts/roles/DeleteCustomRoleDialog.tsx
  src/store/roles.ts
Labels: accounts

task: update base roles desc and icon
  src/components/accounts/roles/BaseRoles.tsx
Labels: accounts

task: sort base roles
  src/store/roles.ts
  src/store/types.ts
Labels: none

task: update permissions
  src/components/accounts/roles/CreateCustomRoleDialog.tsx
Labels: accounts

task: required fields
  src/components/accounts/roles/CreateCustomRoleDialog.tsx
  src/components/accounts/roles/EditCustomRoleDialog/tabs/Details.tsx
Labels: accounts

task: show field errors in details tab
  src/components/accounts/roles/EditCustomRoleDialog/index.tsx
  src/components/accounts/roles/EditCustomRoleDialog/tabs/Details.tsx
Labels: accounts

task: do not reject when role name is empty
  src/components/accounts/roles/EditCustomRoleDialog/index.tsx
Labels: accounts

task: nav to tab if an error occured
  src/components/accounts/roles/EditCustomRoleDialog/index.tsx
Labels: accounts

task: show field error on create role
  src/components/accounts/roles/CreateCustomRoleDialog.tsx
Labels: accounts

task: update tooltips
  src/components/accounts/roles/CreateCustomRoleDialog.tsx
  src/components/accounts/roles/EditCustomRoleDialog/tabs/Details.tsx
  src/components/accounts/roles/EditCustomRoleDialog/tabs/Users.tsx
  src/views/accounts/instances/Roles.tsx
Labels: accounts

task: show list of emails that are non-instance members
  src/components/accounts/roles/EditCustomRoleDialog/tabs/Users.tsx
Labels: accounts

task: clear resource zuids to delete on api call success & do not do update granular role api call when no changes
  src/components/accounts/roles/EditCustomRoleDialog/index.tsx
Labels: accounts

fix: fix incorrect spread syntax
  src/blocks/layoutsBlocks/revamp/layoutComponent/Images/index.js
Labels: none

fix: fixed incorrect spread syntax
  src/blocks/layoutsBlocks/revamp/layoutComponent/Row/index.js
  src/blocks/layoutsBlocks/revamp/layoutComponent/Text/index.js
Labels: none

task: update zesty-io/material
  package-lock.json
  package.json
Labels: repo

task: sync lock file to package.json
  package-lock.json
Labels: repo

fix: remove unneccessary code
  src/components/accounts/roles/DeleteCustomRoleDialog.tsx
Labels: accounts

chore: test
  README.md
Labels: repo

task: update install dependencies command
  .github/workflows/ci.yml
Labels: workflow

task: update install dependencies command
  .github/workflows/ci.yml
Labels: workflow

task: test ci
  README.md
  cypress/support/commands.js
Labels: repo, e2e

task: update homepage company logos
  src/revamp/ui/HeroV2/index.js
Labels: none

chore: test
  src/revamp/ui/HeroV2/index.js
Labels: none

feat: update company logos
  src/revamp/ui/HeroV2/index.js
Labels: none

feat: docs redirect
  .vscode/settings.json
  next.config.js
  src/config/redirects.js
  src/pages/docs/index.js
Labels: repo, docs-page, docs

feat: docs redirect
  .vscode/settings.json
Labels: none

feat: docs redirect
  src/config/redirects.js
Labels: none

feat: test ci
  .gitignore
  cypress/e2e/accounts/accounts.cy.js
  cypress/e2e/docs/docs.cy.js
  cypress/e2e/login/login.cy.js
  cypress/e2e/marketing/marketing.cy.js
  cypress/e2e/product/product.cy.js
  cypress/e2e/start/scenario1.cy.js
  cypress/e2e/start/scenario2.cy.js
  cypress/e2e/start/scenario3.cy.js
  cypress/e2e/start/scenario4.cy.js
  cypress/support/commands.js
  cypress/support/e2e.js
  example.cypress.config.js
  package-lock.json
  package.json
Labels: repo, e2e

test: remove cypress.json
  .github/workflows/ci.yml
Labels: workflow

task: use cypress config
  .github/workflows/ci.yml
Labels: workflow

test: remove cypress.json
  .github/workflows/ci.yml
Labels: workflow

Update redirects.js
  src/config/redirects.js
Labels: none

.github/labeler.yml:

repo:
  - ./*
test:
  - src/**/*.test.js
middleware:
  - src/middleware.js

accounts:
   - any: ["src/*/accounts/**/*"]

accounts-page:
   - any: ["src/pages/instances/**/*"]
accounts-pages:
   - any: ["src/pages/profile/**/*"]
marketplace-page:
   - any: ["src/pages/marketplace/**/*"]
docs-page:
   - any: ["src/pages/docs/**/*"]

marketplace:
   - any: ["src/*/marketplace/**/*"]

docs:
   - any: ["src/*/docs/**/*"]
cta:
   - any: ["src/*/cta/**/*"]
globals:
   - any: ["src/*/globals/**/*"]

hooks:
   - any: ["src/*/hooks/**/*"]

lib:
   - any: ["src/lib/**/*"]

marketing:
   - any: ["src/*/marketing/**/*"]

zustand:
  - any: ['src/store/*.js']
e2e:
  - any: ['cypress/**/*']

workflow:
  - any: ['.github/**/*']

theme:
  - any: ['src/theme/*.js']
