Repository zesty-io/nextjs-website, changes with the labels that .github/labeler.yml gives for each.
All labels: repo, test, middleware, accounts, accounts-page, accounts-pages, marketplace-page, docs-page, marketplace, docs, cta, globals, hooks, lib, marketing, zustand, e2e, workflow, theme

feat: docs redirects (#2488)
  .vscode/settings.json
  next.config.js
  src/config/redirects.js
  src/pages/docs/index.js
Labels: repo, docs-page, docs

feat: docs redirect
  src/config/redirects.js
  src/revamp/ui/GetDemoSection/index.js
Labels: none

feat: docs redirects (#2490)
  src/config/redirects.js
  src/revamp/ui/GetDemoSection/index.js
Labels: none

fix: Remove Acorn, BJs and Cornershop logos from all components in the marketing website
  src/revamp/ui/GetDemoSection/index.js
  src/revamp/ui/HeroV2/index.js
Labels: none

fix: Remove Acorn, BJs and Cornershop logos from all components in the marketing website (#2491)
  src/revamp/ui/GetDemoSection/index.js
  src/revamp/ui/HeroV2/index.js
Labels: none

fix: Announcement is not reflecting the latest announcement (#2477)
  src/components/accounts/dashboard/ui/ZInstancesContainer.js
  src/pages/login/index.js
Labels: accounts

fix: Zesty.io Demo Page spacing edits (#2468)
  src/revamp/ui/GetDemoSection/index.js
Labels: none

fix: Error on Homepage Demo CTA (#2474)
  src/views/zesty/Article.js
  src/views/zesty/Homepage/EnterpriseGrowth.js
Labels: none

fix: Zesty.io Mindshare links falling back to old content/not displaying properly (#2470)
  src/layouts/Main/Main.js
  src/lib/ZestyView.js
Labels: lib

feat: docs redirects (#2488)
  .vscode/settings.json
  next.config.js
  src/config/redirects.js
  src/pages/docs/index.js
Labels: repo, docs-page, docs

feat: docs redirects (#2490)
  src/config/redirects.js
  src/revamp/ui/GetDemoSection/index.js
Labels: none

fix: Remove Acorn, BJs and Cornershop logos from all components in the marketing website (#2491)
  src/revamp/ui/GetDemoSection/index.js
  src/revamp/ui/HeroV2/index.js
Labels: none

chore: merge to production (#2493)
  .vscode/settings.json
  next.config.js
  src/components/accounts/dashboard/ui/ZInstancesContainer.js
  src/config/redirects.js
  src/pages/docs/index.js
  src/pages/login/index.js
  src/revamp/ui/GetDemoSection/index.js
  src/revamp/ui/HeroV2/index.js
  src/views/zesty/Article.js
  src/views/zesty/Homepage/EnterpriseGrowth.js
Labels: repo, accounts, docs-page, docs

feat: Update homepage logos (#2486)
  src/revamp/ui/HeroV2/index.js
Labels: none

fix: open permissions tab upon successful creation of custom role
  src/components/accounts/roles/CustomRoles.tsx
  src/components/accounts/roles/EditCustomRoleDialog/index.tsx
Labels: accounts

chore: use tabnames enum
  src/components/accounts/roles/EditCustomRoleDialog/index.tsx
Labels: accounts

fix(fix issue where update doesn't get saved to state): save updatesto state
  src/components/accounts/roles/EditCustomRoleDialog/tabs/Permissions/Table.tsx
Labels: accounts

fix: Open permissions tab upon successful creation of custom role (#2496)
  src/components/accounts/roles/CustomRoles.tsx
  src/components/accounts/roles/EditCustomRoleDialog/index.tsx
  src/components/accounts/roles/EditCustomRoleDialog/tabs/Permissions/Table.tsx
Labels: accounts

feat: close model on update role success
  src/components/accounts/roles/EditCustomRoleDialog/index.tsx
Labels: accounts

fix: add top and bottom margin for modal
  src/components/accounts/roles/CreateCustomRoleDialog.tsx
  src/components/accounts/roles/EditCustomRoleDialog/index.tsx
Labels: accounts

fix: vqa updates
  src/components/accounts/instances/lang.js
  src/components/accounts/instances/tabs.js
  src/components/accounts/roles/BaseRoles.tsx
  src/components/accounts/roles/CreateCustomRoleDialog.tsx
  src/components/accounts/roles/CustomRoles.tsx
  src/components/accounts/roles/EditCustomRoleDialog/index.tsx
  src/components/accounts/roles/EditCustomRoleDialog/tabs/Permissions/ResourceSelector.tsx
  src/components/accounts/roles/EditCustomRoleDialog/tabs/Permissions/index.tsx
  src/components/accounts/ui/header/index.js
  src/components/globals/NoPermission.jsx
  src/views/accounts/instances/Roles.tsx
Labels: accounts, globals

fix: vqa update
  src/components/accounts/roles/DeleteCustomRoleDialog.tsx
  src/components/accounts/roles/EditCustomRoleDialog/index.tsx
Labels: accounts

chore: cleanup
  src/components/accounts/roles/EditCustomRoleDialog/tabs/Permissions/ResourceSelector.tsx
Labels: accounts

dep: zesty-io/material@0.15.7
  package-lock.json
  package.json
Labels: repo

feat: resolve vqa comments for custom roles (#2499)
  package-lock.json
  package.json
  src/components/accounts/instances/lang.js
  src/components/accounts/instances/tabs.js
  src/components/accounts/roles/BaseRoles.tsx
  src/components/accounts/roles/CreateCustomRoleDialog.tsx
  src/components/accounts/roles/CustomRoles.tsx
  src/components/accounts/roles/DeleteCustomRoleDialog.tsx
  src/components/accounts/roles/EditCustomRoleDialog/index.tsx
  src/components/accounts/roles/EditCustomRoleDialog/tabs/Permissions/ResourceSelector.tsx
  src/components/accounts/roles/EditCustomRoleDialog/tabs/Permissions/index.tsx
  src/components/accounts/ui/header/index.js
  src/components/globals/NoPermission.jsx
  src/views/accounts/instances/Roles.tsx
Labels: repo, accounts, globals

.github/labeler.yml:

repo:
  - ./*
test:
  - src/**/*.test.js
middleware:
  - src/middleware.js

accounts:
   - any: ["src/*/accounts/**/*"]

accounts-page:
   - any: ["src/pages/instances/**/*"]
accounts-pages:
   - any: ["src/pages/profile/**/*"]
marketplace-page:
   - any: ["src/pages/marketplace/**/*"]
docs-page:
   - any: ["src/pages/docs/**/*"]

marketplace:
   - any: ["src/*/marketplace/**/*"]

docs:
   - any: ["src/*/docs/**/*"]
cta:
   - any: ["src/*/cta/**/*"]
globals:
   - any: ["src/*/globals/**/*"]

hooks:
   - any: ["src/*/hooks/**/*"]

lib:
   - any: ["src/lib/**/*"]

marketing:
   - any: ["src/*/marketing/**/*"]

zustand:
  - any: ['src/store/*.js']
e2e:
  - any: ['cypress/**/*']

workflow:
  - any: ['.github/**/*']

theme:
  - any: ['src/theme/*.js']
